body {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.ussd-container {
    background-color: black;
    border: 2px solid #4CAF50;
    width: 350px;
    padding: 20px;
    color: lime;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.ussd-screen {
    background-color: black;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
}

h3, p, .menu-options, .result-screen {
    color: rgb(255, 255, 255);
    margin: 0;
    margin-bottom: 10px;
}

.menu-options {
    list-style-type: none;
    padding: 0;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: #222;
    color: rgb(255, 255, 255);
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
}

button:hover {
    background-color: #45a049;
}

.result-screen {
    background-color: #111;
    padding: 15px;
    border-radius: 8px;
    display: none;
    color: rgb(255, 255, 255);
}
